.footer {
	position: fixed;
  display: flex;
  color: green;
  margin-left: 10px;
}

.source-code {
	position: relative;
  color: green;
}

.frames75 {
	position: relative;
  left: 250px;
  color: #fbf1c7;
}

a, h5 {
  color: #fbf1c7;	
}
