header {
  height: 180px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;;
  align-content: center;
}

.titulo {
  font-size: 25px;
  padding: 10px;
  color: #fff;
}

.intentos {
  position: absolute;
  right: 13%;
  top: 120px;
  font-size: 20px;
  padding: 10px;
  color: #fff;  
}

.labelTiempo {
  position: absolute;
  left: 250px;
  top: 120px;
  font-size: 20px;
  padding: 10px;
  color: #fff;  
}

.inputTiempo {
  position: absolute;
  left: 390px;
  top: 125px;
  font-size: 20px;
  padding: 1px;
  width: 70px;
}

.darkmode {
  position: absolute;
  left: 25%;
  top: 120px;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

button.boton-reiniciar {
  position: absolute;
  left: 12px;
  top: 120px;
  font-size: 1em;  
  padding: 0.7em 1.2em;
  font-weight: bold;
  background: #282828;
  color: #fbf1c7;
  /* border-bottom: solid 3px #627295; */
  border-radius: 12px;
  cursor: pointer;
}

button.boton-reiniciar:hover {
  background: #fbf1c7;
  color: #282828;
  border-color: orange;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.16);
}

